html, body {
	border: 0;
	padding: 0;
	margin: 0;
}
.container {
	margin: auto;
	padding: 10px;
	max-width: 1200px;
}
header {
	background-color: #2F4056;
	color: white;
}
h1, h2, h3, p {
	margin: 0;
}
main {
	background-color: #eee;
}
main .container {
	background-color: #fff;
	min-height: 640px;
}
textarea {
	width: 100%;
	height: 15em;
	resize: vertical;
	font-size: 125%;
}
input, select {
	font-size: 150%;
	width: 100%;
	margin-top: 5px;
}
footer {
	background-color: #2F4056;
	color: white;
}
.vert-center {
	display: inline-block;
}
.group {
	padding-bottom: 20px;
}
code {
	font-family: monospace;
	display: block;
	background-color: #eee;
	padding: 10px;
}
table {
	width: 100%;
}
.group {
	margin-top: 5px;
}

#code-prefix, #code-suffix {
	display: none;
}
td {
	text-align: center;
	font-size: 200%;
}
